DEBUG=false
CORS_ORIGINS=["http://localhost:3000","http://localhost:8080"]

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=arada
DB_PASSWORD=tcHdWZHOUM2gp81FQU2QwruWyQ5/VU4BKbb/D7nsCno=
DB_NAME=arada

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MINIO_HOST=127.0.0.1
MINIO_PORT=9000
MINIO_ACCESS_KEY=arada
MINIO_SECRET_KEY=tcHdWZHOUM2gp81FQU2QwruWyQ5/VU4BKbb/D7nsCno=

QDRANT_HOST=127.0.0.1
QDRANT_PORT=6333

OLLAMA_HOST=127.0.0.1
OLLAMA_PORT=11434

JWT_SECRET_KEY=e7616a6c2435a10679afd54304ea4642ccee4888a68ff3cf90870d989ad74d3f3e7a9dae4f6a6a543bbed118c669add7ea3734b507c4411caa52dda51523461f
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

RATE_LIMIT_CALLS=100
RATE_LIMIT_PERIOD_SECONDS=60
